.container {

}

.bloco-dados-principais {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  box-sizing: border-box;
  flex-direction: row;
}

#opcoes{
  background-color: white;
}

.descricao_2-8787 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  background: #dcdada;
  width: -webkit-fill-available;
  height: 100%;
}

.txt-descricao-produto {
  color: #000000;
  font-size: 24px;
  font-family: Inter;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  background: #dcdada;
  word-break: break-all;
}

.dados-pagamento {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
  flex: 0 0 40%; 
}
.text-txt-parcela-produto_15-25 {
  color: #000000;
  font-size: 32px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
}

.text-txt-valor-produto_15-27 {
  color: #000000;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
}

.text-txt-nome-produto_2-60 {
  color: #000000;
  font-size: 24px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

#avaliacao {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.frame-9_16-406 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  width: 197px;
  height: 100%;
}
.star_16-377 {
  position: relative;
  width: 32px;
  height: 100%;
}

.star_16-389 {
  position: relative;
  width: 32px;
  height: 100%;
}

.star_16-392 {
  position: relative;
  width: 32px;
  height: 100%;
}

.star_16-395 {
  position: relative;
  width: 32px;
  height: 100%;
}

.star_16-398 {
  position: relative;
  width: 32px;
  height: 100%;
}

.text-txt-valor-produto_17-419 {
  color: #000000;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
}

.topicos{
  display: flex;
  flex-direction: column;
}

.topico-descricao, .topico-especificacoes, .topico-avaliacoes, .topico-relacionados {
  padding: 20px;
  width: auto;
}

.frame-5_2-8723 {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: 100%;
}
.horizontal-divider-with-subhead_2-8697 {
  height: 27px;
  width: -webkit-fill-available;
}

.frame-6_2-8790 {
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  height: 47px;
  width: -webkit-fill-available;
}

.botoes-pagamento {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.botoes-pagamento button{
  width: 100%;
  margin: 5px;
}

.building-blocks-primary-tabs-label-only_17-512 {
  height: 100%;
}

.dados-fabricante {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: 100%;
  flex-direction: column;
}
.frame-12_17-1102 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: 100%;
}
.text-dados-do-fabricante_17-1103 {
  color: #000000;
  font-weight: 500;
  text-align: center;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

#opcoes {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.text-formas-de-pagamento_17-1107 {
  color: #000000;
  font-weight: 500;
  text-align: center;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.frame-14_17-1119 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: 100%;
}
.image_17-1117 {
  position: relative;
  width: 48px;
  height: 48px;
}

.image_17-1120 {
  position: relative;
  width: 48px;
  height: 48px;
}

.image_17-1123 {
  position: relative;
  width: 48px;
  height: 48px;
}

.image_17-1126 {
  position: relative;
  width: 48px;
  height: 48px;
}

.image_17-1129 {
  position: relative;
  width: 48px;
  height: 48px;
}

.frame-18_19-102 {
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  height: 100%;
}

.frame-18_19-103 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: 100%;
}
.horizontal-divider-with-subhead_19-116 {
  height: 27px;
  width: -webkit-fill-available;
}

.frame-17_19-79 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: 100%;
}
.image_19-86 {
  position: relative;
  width: -webkit-fill-available;
  height: 100%;
}

.image_19-90 {
  position: relative;
  width: 267px;
  height: 100%;
}

.image_19-93 {
  position: relative;
  width: 267px;
  height: 100%;
}

.image_19-96 {
  position: relative;
  width: 267px;
  height: 100%;
}

.image_19-99 {
  position: relative;
  width: 267px;
  height: 100%;
}

.frame-19_23-62 {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: 100%;
}
.image_23-60 {
  position: relative;
  width: -webkit-fill-available;
  height: 100%;
}

.image_26-230 {
  position: relative;
  width: 89px;
  height: 91px;
}

.image_26-233 {
  position: relative;
  width: 89px;
  height: 91px;
}

#carousel {
  min-width: 500px;
  height: 400px;
  background-color: wheat;
  flex: 0 0 40%; 
}