<!-- <svg xmlns="http://www.w3.org/2000/svg" width="120" height="20" viewBox="0 0 120 20" aria-labelledby="title" role="img" /*[attr.data-rating]="produto.classificacao"*/>
    <defs>
        <polygon id="star-shape" points="8,1.5 10.4,6 15.2,6.5 11.3,9.8 12.6,14.6 8,12 3.4,14.6 4.7,9.8 0.8,6.5 5.6,6" />
    </defs>
    <g class="stars" transform="translate(0,0)">
        <use href="#star-shape" x="5"  y="5" />
        <use href="#star-shape" x="25" y="5" />
        <use href="#star-shape" x="45" y="5" />
        <use href="#star-shape" x="65" y="5" />
        <use href="#star-shape" x="85" y="5" />
    </g>
</svg> -->


<svg xmlns="http://www.w3.org/2000/svg" width="120" height="20" viewBox="0 0 120 20" aria-labelledby="title" role="img">
    <defs>
        <polygon id="star-shape" points="8,1.5 10.4,6 15.2,6.5 11.3,9.8 12.6,14.6 8,12 3.4,14.6 4.7,9.8 0.8,6.5 5.6,6" />
    </defs>
    <g class="stars" transform="translate(0,0)">
        <use href="#star-shape" x="5"  y="5" />
        <use href="#star-shape" x="25" y="5" />
        <use href="#star-shape" x="45" y="5" />
        <use href="#star-shape" x="65" y="5" />
        <use href="#star-shape" x="85" y="5" />
    </g>
</svg>