@use '@angular/material' as mat;

html, body {
  height: 100%;
  margin: 0;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Aplica estilos MDC globalmente
.mdc-button {
  @include mat.button-density(0);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
