#container {
    background-color: rgba(157, 171, 184, 0.5);
    border-radius: 10px;
    width: max-content;
    margin: 0 auto;
    margin-top: 30px
}

#container input {
    width: 20vw;
    border-radius: 5px;
    border: none;
    margin: 5px
}

#container a {
    color: white;
    text-decoration: none;
}

#btn-entrar {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

@media (max-width: 830px) {

    #container input {
        width: 40vw;
    }

    #container button {
        width: 40vw;
    }
}